<h1 th:text="${question.subject}"></h1>
<!--question객체의 subjectd의 값을 나타냄-->
<p th:text="${question.content}"></p>
<!--question객체의 content의 값을 나타냄-->
<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다|"></h5>
<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
    </ul>
</div>


<form th:action="@{|/answer/create/${question.id}|}" method="post">
<!-- 각 질문에 해당하는 답변으로 폼을 제출  -->
    <textarea name="content" id="contnet" rows="15"></textarea>
<!--    name속성은 서버에서 해당 값을 식별하는데 사용, id값은 요소를 식별하는데 사용-->
    <input type="submit" value="답변 등록">
</form>

