<html layout:decorate="~{layout}">
<!--템플릿 상속 코드 -->
<div layout:fragment="content" class="container my-3">
<!--  중앙정렬후 상하여백 추가  -->
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
<!--  제목 아래 밑줄 추가, 상하 여백 추가후 제목은 question에서 가지고온 subject로 함  -->
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
<!--      white-space: pre-line 텍스트 줄바꿈 유지     -->
            <div class="d-flex justify-content-end">
<!--        flex를 주고 오른정렬        -->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
<!--         포맷형식에 맞게 출력          -->
                </div>
            </div>
<!--            수정버튼-->
            <div class="my-3">
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" th:text="수정"></a>
<!--            로그인 한 사용자와 글쓴이가다를시 수정버튼은 안보임    -->
                <!--           수정버튼 끝 -->
                <!--          삭제버튼   -->
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" th:text="삭제"></a>
                <!--            삭제버튼끝 -->

            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" method="post" class="my-3" th:object="${answerForm}">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <!--     form_errors 템플릿를 현재 위치에 삽입하는 역할   -->
        <textarea name="content"  rows="10" class="form-control" th:field="*{content}" sec:authorize="isAnonymous()" disabled></textarea>
        <textarea name="content"  rows="10" class="form-control" th:field="*{content}" sec:authorize="isAuthenticated()" ></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>

</div>
<!-- JavaScript 코드를 HTML 파일 내에 삽입하는 script 태그입니다. -->
<script layout:fragment="script" type="text/javascript">
<!--     delete 클래스를 가진 요소들을 모두 가져와 delete_elements에 저장합니다.-->
    const delete_elements = document.getElementsByClassName("delete");

<!--     delete_elements의 각 요소에 대해 반복 작업을 수행합니다.-->
    Array.from(delete_elements).forEach(function(element) {
<!--         클릭 이벤트를 추가합니다.-->
        element.addEventListener('click', function() {
<!--             confirm을 사용하여 사용자에게 삭제 여부를 확인합니다.-->
            if (confirm("정말로 삭제하시겠습니까?")) {
<!--                 dataset.uri를 사용하여 해당 질문의 ID를 동적으로 삽입하여 URL을 생성하고 페이지를 이동합니다.-->
                location.href = this.dataset.uri;
            };
        });
    });
</script>

</html>